.body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
.result{
    background: linear-gradient(135deg,#0F3443 , #34E89E);
    height: 100vh;
    margin-top: -2.2%;
}
.result h1{
    padding-top: 15%;
    padding-left: 40%;
    color: aliceblue;
    font-size: 40px;
}
.result p{
    padding-left: 40%;
    color: aliceblue;
    font-size: 25px;
}