.body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
#temp{
    background: linear-gradient(135deg,#0F3443 , #34E89E);
    height: 100vh;
    
}
#temp h1{
    color: aliceblue;
    font-size: 50px;
}
.front{
    display: flex;
    padding-top: 10%;
}
#front-r1{
    flex-basis: 30%;
    padding-left: 20%;
}
#front-r2 a{
    text-decoration: none;
    color: black;
    background: aliceblue;
    padding: 3% 25%;
}
#front-r2 a:hover{
    background: black;
    color: white;
}
#front-r2 h2{
    padding-top: 15%;
    font-size: 25px;
}
.right-navbar>img{
    width: 70px;
    padding: 2px 15px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: black;
    z-index: 10;
}
.left-navbar{
    display: flex;
    align-items: center;
    
}
.left-navbar>p{
    margin-right: 30px;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    color: aliceblue;
}